.auth-modal .modal-dialog {
    max-width: 80vw;
    width: 90%;
    max-height: 90vh;
    height: 100%;
    margin: auto;
}

.auth-modal .modal-content {
    border-radius: 8px;
}

.auth-modal .modal-body {
    padding: 2rem;
}


.active-custom {
    background-color: #74ab6a !important; /* Custom background color */
    color: black !important; /* Custom text color */
    font-weight: bold;
}

/* Remove the default Bootstrap active styling */
.list-group-item.active {
    background-color: transparent !important;
    color: inherit !important;
}

